.Form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .Container {
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
}

.Content {
  display: flex;
  flex-direction: column;
  border: 1px solid #4d3147;
  border-radius: 8px;
  padding: 8px;
  background: #ffff;
  width: 490px;
}

.Input {
  width: 490px;
  outline: none;
  border: none;
  color: #474646;

  ::placeholder {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #474646;
  }
}

.BtnCircle {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  background-color: #fff;
  border: #4d3147;
  font-size: 41px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
