.contentStopWatch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 665px;
  height: 233px;
  background: #4d3147;
  border-radius: 21px;
}

.btnSquare {
  width: 206px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fffbff;
  border: 1px solid #4d3147;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #4d3147;
}
