.container {
  background-color: #4d3147;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

.contentBtn {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  aside {
    border-bottom: 1px solid #866a80;
    width: 674px;
    padding: 10px 0;
  }
}

.titleCard {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #e5e5e5;
}
