.Container {
  background-color: #4d3147;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ContentBtn {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.Content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  aside {
    border-bottom: 1px solid #866a80;
    width: 637px;
    padding: 10px 0;
  }
}

.H4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #e5e5e5;
}
